<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.human0722.backend.dao.UserDao">
    <!--可以使用简写resultType="User"的前提是在配置了type-alias-package, 不然要写类全名-->
    <insert id="store" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO  "user" (id, name) values (#{id}, #{name})
    </insert>
</mapper>